<!-- <table class="table table-hover table-bordered">
  <tr>
    <td><strong>Difficulty</strong></td>
    <td>{{clue.value}}</td>
  </tr>
  <tr>
    <td><strong>Category</strong></td>
    <td>{{clue.category.title}}</td>
  </tr>
  <tr>
    <td><strong>Question</strong></td>
    <td>{{clue.question}}</td>
  </tr>
  <tr>
    <td><strong>Answer</strong></td>
    <td>{{clue.answer}}</td>
  </tr>
  <tr>
    <td><strong>Air Date</strong></td>
    <td>{{clue.airdate}}</td>
  </tr>
      <tr>
    <td><strong>ID</strong></td>
    <td id="clue-id">{{clue.id}}</td>
  </tr>
</table> -->

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>