<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        
        <app-categories-grid 
          [categories]="filteredCategories"></app-categories-grid>

        <!-- <cm-pagination
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></cm-pagination> -->
          
    </div>
</div>
